.cds-store-credit-wrapper {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 12px;
  margin: 12px 0;
  background-color: #fff;
}

.cds-checkout-store-credit {
  margin: 0;

  .cds-btn-store-credit {

    &:hover {
      text-decoration: none;
    }

    .icon {
      top: -3px;
      position: relative;
      fill: currentColor;
    }

    p {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }
  }

  .cds-store-credit-card-body {
    .store-credit-balance {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 15px;
      padding-bottom: 6px;
    }

    #store-credit-form {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      .form-group {
        flex: 1 1 auto;

        .form-control {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        #exceedCreditMessage {
          padding-top: 4px;
        }
      }
    }
  }
}